@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/css?family=Kaushan+Script';

body {
  font: 300 14px/18px Roboto;
}

.muck-up {
  height: 640px;
  overflow: hidden;
  position: relative;
  border: 1px solid #fefefe;
  background: url("http://s3.amazonaws.com/digitaltrends-uploads-prod/2015/12/man-driving-in-car-in-the-city-ride-share-uber-lyft-getaround-zipcar.jpg");
}

.overlay {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
}

.content {
  position: relative;
  z-index: 10;
  top: 5%;
}

.logo {
  z-index: 1;
  width: 40%;
  margin: auto;
  margin-left: 35%;
  margin-top: 10%;
}

.f-logo {
  height: 140px;
  width: 140px;
  display: block;
  background: rgba(0, 0, 0, 1.6);
  z-index: 1;
  border-radius: 32%;
  transform: rotate(45deg);
  position: relative;
}

.text{
  width: 100%;
  height: 40%;
  margin: auto;
  text-align: center;
  margin-top: 20%;
}

.imglogo{
  position: absolute;
  z-index: 2;
  width: 150px;
  top: 0;
}

.slogan {
  color: white;
  font-family: 'Kaushan Script', cursive;
  font-size: 3.6em;
  text-shadow: 2px 3px rgb(231,11,129);
  margin-top: 10%;
}

.login {
  margin-top: 30px;
  font-size: 18px;
}

.log-in { 
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 20px;
  background: none;
  width: 31%;
  position: relative;
  left: 5%;
  color: white;
  text-decoration: none;
}

.log-in:hover{
  cursor:pointer;
  color: rgb(231,11,129);
  border: 1px solid rgb(231,11,129);
}

.sign-up {
  background: linear-gradient( -45deg, #d2079f , #ff5858);
  padding: 10px 20px;
  border-radius: 21px;
  left: 30%;
  cursor: pointer;
  opacity:1;
  position:relative;
  text-transform:uppercase;
  color:white;
  text-decoration: none;
}

.sign-up:hover{
  cursor:pointer;
  color: rgb(231,11,129);
  background: white: 
}

.title {
	color: black;
	text-align: center;
  text-decoration: none;
  text-decoration-line: none;
}

/* -->RESITRO<--- */
.form-control:focus {
outline: none !important;
    -webkit-box-shadow:none;
    box-shadow: none;
    border: 1px solid #CCCCCC ;
}



.container-fluid {
  height: 640px;
}

.box #sign-up {
	box-sizing: border-box;
	margin: 40px auto;
	border-radius: 2px;
	box-shadow: 0 1px 20px 5px rgba(0,0,0,0.4);
	padding: 15px 35px;
}

.back{
	text-decoration: none;
}

.back-arrow {
	color: #777;
  font-size: 20px;
  margin-top: 10%;
}

.s-title {
	color: black;
	text-align: center;
	font-size: 10px;
}

.next {
 	position: absolute;
 	bottom: 0;
 	width: 100%;
  height: 10%;
 	left: 0;
  background: linear-gradient( -45deg, #d2079f , #ff5858);
  cursor: pointer;
  line-height:60px;
  text-align: center;
  text-decoration: none; 
  font-size: 2em;
  color: white;
}

.next:hover{
  color: white;
  text-decoration: none;
}

.alertCel{
  width: 80%;
  padding: 5%;
  position: absolute;
  top: 40%;
  left: 10%;
  text-align: center;
  color: rgb(231,11,129);
  border: 1px solid rgb(231,11,129);
  font-size: 1.8em;
  line-height: 2em;
}

/*-->datos<--*/

.panel-body {
  padding-top: 30px;
}

.user {
  border: 1px solid rgb(231,11,129);
  position: relative;
  padding:  5px 5px 5px 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.userNom{
  width: 42%;
}

.icono-user{
  position: absolute;
  top: 10px;
  left: 8px;
}

.userNom:focus, .email:focus{
  outline: -webkit-focus-ring-color auto 0px;
  outline-style: none;
  box-shadow: none;
  border-color: lightgrey;
}

.userNom, .email{
  border: none;
}

.email{
  width: 90%;
}

.mayuscula{
  text-transform: uppercase;
}

.terms {
  left: 8%;
}

/*-->codigo<--*/

.pills{
  position: absolute;
  width: 70%;
  top: 125px;
  left: 30%;
  z-index: 2;
  animation-duration: .9s;
  animation-fill-mode: both;
}

.code {
  border: none;
  background-color: white;
  border-bottom: 2px solid #d2079f;
  width: 5%;
} 

.alert{
  width: 80%;
  padding: 5%;
  position: absolute;
  top: 50%;
  left: 10%;
  text-align: center;
  color: rgb(231,11,129);
  border: 1px solid rgb(231,11,129);
  font-size: 1.8em;
  line-height: 2em;
}



/*-->ubicacion<--*/

.circulo_gift {
  height: 50px;
  width: 50px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  background-color: white;
  align-content: center;
  float: right;
  position: relative;
  display: inline-block;
  z-index: 2;
}

.circulo_profile {
  height: 50px;
  width: 50px;
  border-radius: 35px;
  background-color: white;
  align-content: center;
  float: left;
  position: relative;
  display: inline-block;
  z-index: 2;
}

.icon_profile {
  float: right;
  display: inline-block;
  margin: 0 auto;
  margin: 7px 9px;
  font-size: 2em;
}

.logo_map {
  margin-top: 10px;
  margin-left: 40%;
  z-index: 2;
  position: absolute;
}

.f-logo_map {
  height: 80px;
  width: 80px;
  display: block;
  background: white;
  z-index: 1;
  border-radius: 32%;
  transform: rotate(45deg);
  position: absolute;
  opacity: 0.8;
}

.imglogo_map {
  z-index: 2;
  margin: 0 auto;
  position: relative;
  height: 50px;
  top: 16px;
  left: 4px;
}

.set1 {
  position: absolute;
  z-index: 1;
  bottom: 13px;
  width: 90%;
  background-color: white;
  left: 15px;
  height: 40px;
  color: #009688;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  transition: all 500ms ease;
}

.set1:hover {
  background: #009688;
  color: white;
  box-shadow: inset 0 0 0 3px #3a7999;
}

.set {
  position: absolute;
  z-index: 1;
  bottom: 90px;
  width: 90%;
  background-color: #009688;
  left: 15px;
  height: 40px;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  transition: all 500ms ease;
}

.set:hover {
  background: white;
  color: #009688;
  box-shadow: inset 0 0 0 3px #3a7999;
}

.photo_map {
    z-index: 2;
    margin: 0 auto;
    position: relative;
    height: 35px;
    top: 8px;
    left: 7px;
    width: 35px;
}

.small{
  color: #2bbbad;
}

.ubicacion{
  position: absolute;
  left: 5%;
  bottom: 9%;
  width: 90%;
  background-color: #26a69a;
  height: 40px;
  border-radius: 8px;
}

.usericon{
  width: 50%;
  margin-right: 8%;
}

.datosUser {
  left: 2%;
}

.fotoUsurario{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #E3E4E8;
}

.photoEdit {
  top: 40%;
}

.botonx {
  top: 35%;
}

.menu-icono{
  color: #009688;
  font-size: 15px;
}

.circle {
  height: 70% !important;
  width: 70% !important;
}

.name{
  font-size: 2.5em;
  margin-left: 20%;
}

.correo{
  font-size: 1.5em;
  margin-left: 10%;
}

.viewProfile{
  color: #009688 !important;
  font-size: 1.5em !important;
  margin-left: 20% !important;
}