.m-left{
	margin-left: 15%;
}

.m-top{
	margin-top: -26px;
}

.f-left{
  float: left;
}

.blue {
    color: #05AAF7;
}

.m-bottom-5 {
	margin-bottom: 5%;
}

.m-top-30 {
	margin-top: 30%;
}

.icon-gift:before {
  content: "\e99f";
  color: #009688;
  font-size: 30px;
}

.icon-credit-card:before {
  content: "\e93f";
}

.icon-location:before {
  content: "\e947";
}

.icon-history:before {
  content: "\e94d";
}

.icon-cog:before {
  content: "\e994";
}

.icon-gift:before {
  content: "\e99f";
}

.icon-question:before {
  content: "\ea09";
}

.ocultar{
  display: none;
}

.d-ib {
  display: inline-block !important;
  left: 10% !important;
}

.t-dn {
  text-decoration: none !important;
}


